# Importing Data

Importing Data dibutuhkan untuk mengambil library-library yang dibutuhkan dan memasukkannya ke dalam lingkungan analisis yang digunakan, tanpa library-library ini proses analisis data bisa terhambat karena library ini dibutuhkan untuk menjalankan proses analisis lebih lanjut.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#Import numpy as np yaitu kita mengimpor library numpy dengan menggunakan alias 'np'.
#import matplotlib.pyplot as plt yaitu kita juga menggunakan library matplotlib.pylot dengan menggunakan alias 'plt'.
#import pandas as pd selanjutnya library yang juga diimpor yaitu pandas dengan menggunakan alias 'pd'
#import seaborn as sns yaitu perintah untuk mengimpor library seaborn dengan menggunakan alias 'sns'.
#penggunaan alias adalah untuk mempermudah dalam penulisan kode.

# Exploratory Data Analysis (EDA)

Exploratory Data Analysis (EDA) dalam bahasa Indonesia sebagai Analisis Data Eksploratif ini salah satu langkah yang dibutuhkan dalam menganalisis data. Langkah ini melibatkan pemeriksaan dataset yang bertujuan untuk memahami data yang sedang di analisis , mengidentifikasi kesalahan dalam data, menemukan pola dan hubungan antara variabel, dan mempersiapkan data untuk analisis lanjutan.

In [2]:
data = pd.read_csv('diabetes_dataset.csv')
data
#penggunaan pd.read_csv() ada 3 bagian dalam perintah ini,
#"pd" yaitu modul/library pandas yang digunakan yang diimpor sebelumnya. 
#"read_csv()" yaitu metode pandas yang digunakan untuk membaca file csv. 
#Dan ditambahkan "diabetes_dataset.csv" yaitu jalur dimana file csv berada yang ingin dibaca.
#Dan akan dimuat ke dalam dataframe yang disimpan dalam variabel "data".

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [3]:
data.describe()
#data.describe() digunakan untuk menghasilkan ringkasan statistik dari dataframe 'data'.
#Ringkasan statistik akan menampilkan statistik ringkasan untuk setiap kolom numerik dalam DataFrame, 
#termasuk jumlah data (count), rata-rata (mean), standar deviasi (std), nilai minimum (min),
#kuartil pertama (25%), median atau kuartil kedua (50%), kuartil ketiga (75%), dan nilai maksimum (max).

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [4]:
data.dtypes
#Digunakan untuk menampilkan tipe data dari setiap kolom dalam dataframe 'data'.
#Dengan menampilkan tipe data dapat membantu dalam melakukan manipulasi, transformasi, dan analisis data.
#Seperti output dari data.dtypes ada 3 tipe data yaitu object, float64, dan int64 untuk setiap kolom dalam dataframe data.

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

# Data Information

Informasi data digunakan untuk melihat keseluruhan dalam bentuk variabel. Mengapa kita perlu membuat data informasi? karena data informasi memuat keseluruhan data yang nantinya akan di proses atau dikelola kedalam pemrograman. Informasi data ini menghasilkan output array dan tipe data integer. Informasi data sering digunakan karena bisa mengatur data dalam cara yang lebih terstruktur.

In [5]:
data.heart_disease.unique()
#Kode di atas menunjukkan ada tidaknya orang yang terkena serangan jantung, 
#0 menunjukkan tidak adanya serangan jantung dan 1 menunjukkan adanya serangan jantung.

array([1, 0], dtype=int64)

In [6]:
data.hypertension.unique()
#Kode di atas digunakan untuk melihat suatu nilai dari kolom hypertension, yaitu 0 dan 1.
#Nilai 0 menunjukkan bahwa pasien tidak memiliki hipertensi dan nilai 1 menunjukkan bahwa pasien memiliki hipertensi. 
#Dari kode ini kita dapat memprediksi tingkat risiko diabetes pada pasien yang memiliki hipertensi.

array([0, 1], dtype=int64)

In [7]:
data.diabetes.unique()

array([0, 1], dtype=int64)

In [8]:
data.smoking_history.unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [9]:
data.gender.unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [10]:
data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

# One Hot Endcode

One Hot Endcode - Mengapa perlu dilakukan One Hot Endocing? One Hot Endcoding dilakukan untuk mengubah variabel kategorikal (seperti tipe data object) menjadi vektor biner yang setiap kategorinya mewakili elemen dari vektor. Nilai 1 menunjukkan data tersebut cocok dengan elemennya dan Nilai 0 menunjukkan ketidakcocokan, dilakukannya One Hot Endcode agar memudahkan komputer membaca data dalam permodelan dan analisis data, One Hot Endcode ini juga digunakan bagi data kategori yang tidak bisa dibandingkan. Sebagai contoh adalah data gender, di dalam data ini terdapat 3 buah gender yaitu 'male' , 'female' , dan 'other'. Karena gender tidak dapat dibandingkan maka dilakukan One Hot Endcode.

In [11]:
encode = pd.get_dummies(data, prefix=None)
encode
#Fungsi pd.get_dummies() adalah fungsi yang disediakan oleh library pandas. 
#Fungsi ini digunakan untuk melakukan One Hot Encoding pada variabel kategorikal dalam suatu data. 
#Fungsi pd.get_dummies() menghasilkan data baru dengan kolom-kolom biner yang mewakili kategori unik dalam variabel kategorikal.
#Dalam kasus ini pada tabel ‘gender’ sekarang ditambahkan unique dari gender-gender tersebut.
#Hal ini berlaku juga pada tabel ‘smoking_history’ yang ditambahkan dengan unique dari tabel ‘smoking_history’ tersebut.

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,0,0,1,0
1,54.0,0,0,27.32,6.6,80,0,1,0,0,1,0,0,0,0,0
2,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,1,0,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90,0,1,0,0,1,0,0,0,0,0
99996,2.0,0,0,17.37,6.5,100,0,1,0,0,1,0,0,0,0,0
99997,66.0,0,0,27.83,5.7,155,0,0,1,0,0,0,0,1,0,0
99998,24.0,0,0,35.42,4.0,100,0,1,0,0,0,0,0,0,1,0
99999,57.0,0,0,22.43,6.6,90,0,1,0,0,0,1,0,0,0,0

# Normalize Data

In [12]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(encode)
data_normalisasi = pd.DataFrame(d, columns=encode.columns)
data_normalisasi

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1.000000,0.0,1.0,0.177171,0.563636,0.272727,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.674675,0.0,0.0,0.202031,0.563636,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.349349,0.0,0.0,0.202031,0.400000,0.354545,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.449449,0.0,0.0,0.156863,0.272727,0.340909,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.949950,1.0,1.0,0.118231,0.236364,0.340909,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.000000,0.0,0.0,0.202031,0.490909,0.045455,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99996,0.024024,0.0,0.0,0.085901,0.545455,0.090909,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99997,0.824825,0.0,0.0,0.207983,0.400000,0.340909,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99998,0.299299,0.0,0.0,0.296569,0.090909,0.090909,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
99999,0.712212,0.0,0.0,0.144958,0.563636,0.045455,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# Split Test

Penggunaan Split test merujuk pada pembagian dataset menjadi dua bagian yaitu dataset pelatihan (training set) dan dataset pengujian (test set). Tujuan dari pembagian dataset ini untuk melakukan pelatihan model pada dataset pelatihan (training set) dan menguji model pada dataset pengujian (test set).

In [13]:
from sklearn.model_selection import train_test_split
X = data_normalisasi.drop(['diabetes', 'hypertension', 'heart_disease'], axis=1)
y = data_normalisasi['diabetes']

# Test = 20% dan Train = 80%
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
#Kita dapat melakukan split test menggunakan library scikit-learn.
#variabel X adalah variabel yang menyimpan dataset yang sudah dinormalisasi. 
#Dan drop adalah metode menghapus kolom yang ditentukan. 
#axis=1 adalah untuk menunjukkan yang dihapus adalah kolom bukan baris.
#variabel Y menyimpan dataset yang sudah dinormalisasi.
#Lalu menggunakan fungsi 'train_test_split' untuk membagi datset memnjadi data training dan data test. 
#Penggunaan 'test_size=0,2' menunjukan pengujian terdiri dari 20% dan 80% digunakan untuk data pelatihan.
#Yang menghasilkan variabel 'X_train','X_test','y_train', dan 'y_test' 
#yang berisi data training dan data test yang telah terpisah.

In [14]:
X_train
#X_train adalah variabel yang menyimpan data dari dataset yang telah terpisah menjadi data pelatihan (training set)
#karena pembagiannya 80%  sebagai data training maka output yang dikeluarkan adalah 80% dari total dataset.

,age,bmi,HbA1c_level,blood_glucose_level,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
780,0.349349,0.202031,0.490909,0.090909,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15312,0.574575,0.202031,0.454545,0.340909,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
47371,0.924925,0.202031,0.854545,0.363636,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5070,0.924925,0.202031,0.490909,0.272727,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19061,0.136637,0.202031,0.090909,0.295455,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64815,0.599600,0.322946,0.545455,0.354545,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
54449,0.286787,0.129785,0.454545,0.359091,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10504,0.774775,0.209034,0.545455,0.340909,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
97422,0.637137,0.198996,0.545455,0.359091,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
64719,0.674675,0.230626,0.090909,0.363636,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
X_test
#X_test Adalah variabel yang menyimpan data dari dataset yang telah terpisah menjadi data pelatihan (test set).
#Karena pembagiannya 20% adalah untuk test set maka output yang muncul
#ada 20% dari dataset yang bukan bagian dari data training.

,age,bmi,HbA1c_level,blood_glucose_level,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
43744,1.000000,0.106092,0.490909,0.354545,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
61850,0.015516,0.075397,0.090909,0.354545,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27194,0.524525,0.172269,0.545455,0.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29081,0.211712,0.202031,0.563636,0.022727,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
62257,0.299299,0.130602,0.090909,0.354545,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15033,1.000000,0.151027,0.400000,0.045455,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7254,0.787287,0.227007,0.563636,0.363636,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
29661,0.737237,0.225140,0.472727,0.090909,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
85042,0.399399,0.144374,0.563636,0.090909,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27926,0.737237,0.189659,0.272727,0.022727,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [16]:
y_train
#y_train adalah variabel yang menyimpan data dari dataset yang telah terpisah menjadi data pelatihan (training set)
#karena pembagiannya 80%  sebagai data training maka output yang dikeluarkan adalah 80% dari total dataset.

780      0.0
15312    0.0
47371    1.0
5070     0.0
19061    0.0
        ...
64815    0.0
54449    0.0
10504    0.0
97422    0.0
64719    0.0
Name: diabetes, Length: 80000, dtype: float64

# Training Mode - SVM

Fungsi dari melakukan Training Mode - SVM : 
Memisahkan variabel target dari variabel independen dalam dataset.
Melakukan pra-pemrosesan data, seperti mengubah variabel kategorikal menjadi numerik dengan one-hot encoding dan melakukan normalisasi data.
Membagi dataset menjadi set latih dan set uji dengan menggunakan fungsi train_test_split dari library sklearn.
Membangun model SVM dengan menggunakan fungsi svm.SVC dari library sklearn. Pada tahap ini, parameter seperti kernel, C, dan gamma dapat diatur sesuai kebutuhan.
Melatih model SVM pada set latih menggunakan metode fit() dari library sklearn.
Melakukan prediksi pada set uji dengan menggunakan metode predict() dari library sklearn.
Evaluasi performa model dengan menggunakan berbagai metrik, seperti precision, recall, f1-score, dan accuracy, yang dihitung berdasarkan hasil prediksi model pada set uji yang sebenarnya.
Jika performa model belum memuaskan, kita dapat melakukan tuning parameter pada model SVM untuk meningkatkan performa model.

In [17]:
from sklearn import svm
model_svm = svm.SVC()

In [18]:
model = model_svm.fit(X_train, y_train)

# Evaluasi Model - SVM

Evaluasi Model SVM memiliki fungsi yang dapat membantu mengukur sejauh mana model dapat memprediksi dengan benar.

In [19]:
accuracy_test_svm = model_svm.score(X_test,y_test)

In [20]:
accuracy_train_svm = model_svm.score(X_train,y_train)
#model_svm.score(X_train, y_train) adalah metode yang digunakan untuk 
#menghitung skor dari model SVM yang telah dilatih menggunakan data pelatihan (X_train) dan target pelatihan (y_train). 
#Skor yang dihasilkan adalah akurasi dari model SVM terhadap data pelatihan. 
#Di dalam konteks ini, skor  yang diperoleh dari  model_svm.score() menunjukkan 
#sejauh mana model SVM dapat memprediksi dengan benar pada data pelatihan yang digunakan untuk melatih model tersebut.
#Skor tersebut dapat bernilai antara 0 dan 1, di mana nilai 1 menunjukkan akurasi yang sempurna, 
#sedangkan nilai 0 menunjukkan model tidak memprediksi dengan benar.

In [21]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train_svm * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test_svm * 100,2)} %")
#Hasil dari Evaluasi Model SVM ini dicetak pada perintah print(f"Akurasi Model (Train) : {np.round(accuracy_train_svm * 100,2)} %") 
#dan print(f"Akurasi Model (Test)  : {np.round(accuracy_test_svm * 100,2)} %")
#np.round(accuracy_train_svm * 100, 2) digunakan untuk membulatkan persentase 
#akurasi pelatihan dari model SVM menjadi bentuk desimal dengan dua angka di belakang koma. 
#Dalam konteks ini, persentase akurasi pelatihan dikalikan dengan 100, 
#kemudian dibulatkan ke dua angka di belakang koma menggunakan fungsi np.round(). 
#Hasul dari perintah ini dicetak menjadi sebuah string dengan format : 
#“Akurasi Model (Train/Test) : (hasil dari akurasi pelatihan) %”

Akurasi Model (Train) : 96.18 %
Akurasi Model (Test)  : 96.0 %

# Prediction - SVM

In [22]:
df_test = pd.DataFrame(data={
    "age" : [51, 28],
    "gender"  : ["Female", "Male"],
    "smoking_history" : ["current", "never"],
    "bmi": [23.45, 21.67],
    "HbA1c_level": [4.8, 5.4],
    "blood_glucose_level": [158, 142],
})

df_test

   age  gender smoking_history    bmi  HbA1c_level  blood_glucose_level
0   51  Female         current  23.45          4.8                  158
1   28    Male           never  21.67          5.4                  142

In [23]:
encode_test = pd.get_dummies(df_test, prefix=None)
encode_test

encode_test

,age,bmi,HbA1c_level,blood_glucose_level,gender_Female,gender_Male,smoking_history_current,smoking_history_never
0,51,23.45,4.8,158,1,0,1,0
1,28,21.67,5.4,142,0,1,0,1

In [24]:
a=[]
for i in range(len(encode_test)):
    if encode_test["gender_Female"][i]==1 or encode_test["gender_Male"][i]==1:
        a.append(0)
    elif encode_test["gender_Female"][i] != 1 and encode_test["gender_Male"][i] != 1:
        a.append(1)
    else:
        continue
encode_test["gender_Other"]= a
encode_test

,age,bmi,HbA1c_level,blood_glucose_level,gender_Female,gender_Male,smoking_history_current,smoking_history_never,gender_Other
0,51,23.45,4.8,158,1,0,1,0,0
1,28,21.67,5.4,142,0,1,0,1,0

In [25]:
pred_test = model.predict(encode_test)

C:\Users\asusp\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- smoking_history_No Info
- smoking_history_ever
- smoking_history_former
- smoking_history_not current

  warnings.warn(message, FutureWarning)

ValueError: X has 9 features, but SVC is expecting 13 features as input.

# K-Neiress Neighbors

In [26]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

In [27]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

# Evaluasi Model - K-Neiress Neighbors

In [ ]:
accuracy_test_knn = knn.score(X_test, y_test)

In [ ]:
accuracy_train_knn = knn.score(X_train, y_train)

In [28]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train_knn * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test_knn * 100,2)} %")

NameError: name 'accuracy_train_knn' is not defined

In [ ]:
knn_palette = sns.color_palette(['#000C1F', '#29757A', '#FF5050'])
knn_palette

# Training Model - Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

In [ ]:
rfc.fit(X_train, y_train)

# Evaluasi Model - Random Forest

In [ ]:
accuracy_test_rfc = rfc.score(X_test, y_test)
accuracy_train_rfc = rfc.score(X_train, y_train)

In [ ]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train_rfc * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test_rfc * 100,2)} %")

# Training Model - Decision Tree